---
import { getBlogs } from '@/lib/microcms'
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogCard from '@/components/ui/blog/BlogCard.astro'
const response = await getBlogs({
  fields: ['id', 'title', 'category', 'category2', 'publishedAt'],
})
---

<BaseLayout>
  <main>
    <h1>一覧</h1>
    <ul class="grid-container">
      {
        response.contents.map((blog) => (
          <li>
            <BlogCard {...blog} />
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  ul {
    list-style: none;
    padding-left: 0;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media (width < 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
</style>
