---
import type { Blog } from '@/types/blog.types'
import { getFormattedYearMonthDay } from '@/utils/helper/getFormattedYearMonthDay'
import CategoryBadge from './CategoryBadge.astro'
type Props = Blog
const { id, title, category, category2, publishedAt } = Astro.props
const date = getFormattedYearMonthDay(publishedAt)
---

<div class="card">
  <a href=`/blog/${id}`>
    <h2>{title}</h2>
  </a>
  <div class="flex">
    <div>
      {category && <CategoryBadge {...category} />}
      {category2 && <CategoryBadge {...category2} />}
    </div>
    <p>{date}</p>
  </div>
</div>

<style>
  h2 {
    font-size: 1.2rem;
  }
  a {
    color: inherit;
  }
  a:hover {
    color: gray;
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  .card {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
