---
import BlogCard from "@/components/ui/blog/BlogCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getLatestBlog } from "@/lib/microcms";
const response = await getLatestBlog();
---

<BaseLayout>
  <main>
    <h1>Blog<span class="small">(最新の投稿)</span></h1>
    <BlogCard {...response} />
  </main>
</BaseLayout>
