---
import { Icon } from 'astro-icon/components'
import { SNS_LINKS } from '@/constants/SnsLink'
const today = new Date()
---

<footer>
  &copy; {today.getFullYear()} Your name here. All rights reserved.
  <div class="social-links">
    <a href={SNS_LINKS.twitter} target="_blank">
      <span class="sr-only">x</span>
      <Icon size={30} name="ri:twitter-x-fill" />
    </a>
    <a href={SNS_LINKS.github} target="_blank">
      <span class="sr-only">github</span>
      <Icon size={30} name="ri:github-fill" />
    </a>
    <a href={SNS_LINKS.zenn} target="_blank">
      <span class="sr-only">zenn</span>
      <Icon size={30} name="simple-icons:zenn" />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
