---
import { cn } from "@/lib/utils";

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === `/${subpath?.[0]}`;
---

<a
  href={href}
  class={cn(
    "inline-block no-underline",
    isActive &&
      "font-semibold underline underline-offset-8 decoration-accent-foreground",
  )}
>
  <slot />
</a>
